*.csv filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230707-mlp-10fold.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230707-xgboost-10fold.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230705-mlp.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230705-mlpxgboost2.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230705-xgboostmlp.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230706-lgbm-10fold.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230706-mlp-10fold.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230706-xgb-10fold.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230707-xgboostmlp-10fold.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230706-xgb+mlp-10fold.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230706-xgblgbm.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230706-xgblmlp-10fold.log filter=lfs diff=lfs merge=lfs -text
enzyme/logs/230706-xgblmlp.log filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5547-none-23-06-30.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5636-none-23-07-06.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5654-none-23-07-06.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.5097-none-23-07-01.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.6280-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.7051-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/rf-train-1.0000-none-23-06-29.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/knn-train-0.6172-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5526-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.7078-none-23-07-01.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost-train-1.0000-none-23-07-07.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/lgbm-train-0.5000-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+mlp-train-0.5691-none-23-07-06-1.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.7077-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/rf-train-1.0000-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+mlp-train-0.5566-none-23-07-05.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/knn-train-0.6172-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/lgbm+mlp-train-0.5753-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.7274-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+lgbm-train-0.5692-none-23-07-06-1.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+mlp-train-0.5351-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/knn-train-0.6170-none-23-06-28.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/knn-train-0.6458-none-23-06-30.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.7165-none-23-07-01.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+mlp-train-0.5403-none-23-07-05.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+mlp-train-0.9928-none-23-07-07.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/lgbm+mlp-train-0.5682-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.6332-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp+xgboost-train-0.5465-none-23-07-05.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5659-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/enzyme-10skf.pkl filter=lfs diff=lfs merge=lfs -text
enzyme/results/lgbm-train-0.5728-none-23-07-06.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+mlp-train-0.9859-none-23-07-07.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost-train-0.5686-none-23-06-28.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost-train-0.5982-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5639-none-23-06-30.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/rf-train-1.0000-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5514-none-23-06-30.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5622-none-23-06-29.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5670-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+lgbm-train-0.5692-none-23-07-06.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/enzyme-5skf-unscaled.pkl filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp+xgboost-train-0.5501-none-23-07-05.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+mlp-train-0.5691-none-23-07-06.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost-train-0.5979-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/knn-train-0.6184-none-23-06-30.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.6130-none-23-07-01.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5640-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5692-none-23-06-29.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.7056-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/lgbm-train-0.5743-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5626-none-23-06-30.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/lgbm+mlp-train-0.5338-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5123-none-23-06-29.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5645-none-23-06-30.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp_keras-train-0.7047-none-23-07-03.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/rf-train-1.0000-none-23-06-28.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost-train-0.5838-none-23-06-30.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/enzyme-10skf-2.pkl filter=lfs diff=lfs merge=lfs -text
enzyme/results/enzyme-5skf-3.pkl filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost-train-0.6034-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost+lgbm-train-0.5570-none-23-07-04.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost-train-0.5754-none-23-06-29.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.5605-none-23-06-29.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/mlp-train-0.6341-none-23-06-28.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/rf-train-1.0000-none-23-06-30.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/enzyme-5skf-2.pkl filter=lfs diff=lfs merge=lfs -text
enzyme/results/enzyme-5skf.pkl filter=lfs diff=lfs merge=lfs -text
enzyme/results/extratree-train-0.5586-none-23-06-28.csv filter=lfs diff=lfs merge=lfs -text
enzyme/results/xgboost-train-0.5923-none-23-07-06.csv filter=lfs diff=lfs merge=lfs -text
